<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blanakdfsdfsd</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>CONAAAAAAAAAAAAAAAAsdfsdfsdfAAAAAAA</strong>
    <p>CONAAAAAAAA<a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">A</a></p>
  </div>
</ion-content>
